.wrap {
  width: 100%;
  height: 100vw;
  background-color: rgb(235, 235, 235);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  margin-top: 200px;
  width: 100%;
  height: 200px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.582);
}
.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.582);
  border-radius: 5px 5px 0 0;
}
p {
  margin: 0;
  padding: 10px;
  font-size: 25px;
}
.selected-item {
  height: 40px;
}
.input-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px rgba(128, 128, 128, 0.582);
}

.items {
  margin-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.selected-item {
  background-color: rgba(128, 128, 128, 0.274);
  padding: 10px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;

  border-radius: 5px;
}
.clear-button {
  font-size: 15px;
  font-weight: normal;
  margin-left: 10px;
  padding: 5px;
  border-left: solid 1px rgba(128, 128, 128, 0.582);
}

ul {
  position: absolute;
  bottom: 180px;

  background-color: rgba(128, 128, 128, 0.349);
  width: 100%;
  height: 100%;
  max-width: 600px;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;

  color: #333;
}
.li-item {
  font-size: 16px;
}
